*{  padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: purple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.container{
    align-items:center;
    justify-content: center;
}
.box{
    background-color: blueviolet;
    border-color: blue;
    height:1000vh;
    border-radius: 20px;
}



